.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  display: block;
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../spots-images/deletebutton.svg);
  border: none;
  background-color: transparent;
  opacity: 1;
}

.card__delete-btn:hover {
  background-image: url(../spots-images/deletebuttonhover.svg);
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../spots-images/heart\ dark\ hover.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  background-image: url(../spots-images/heart\ dark\ hover.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../spots-images/redheart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../spots-images/redheart.svg);
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
