.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  display: block;
  width: 413px;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}
/*DOT REVISION ADDITION :hover  and  cursor: pointer; */
.card__image:hover {
  cursor: pointer;
}
/*DOT REVISION cursor:pointer; background-repeat: no-repeat; background-position: center; */
.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/deletebutton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  opacity: 1;
  cursor: pointer;
}
/*DOT REVISION cursor:pointer; background-repeat: no-repeat; background-position: center; */
.card__delete-btn:hover {
  background-image: url(../images/deletebuttonhover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
/*DOT REVISION background-repeat: no-repeat; opacity: 0.4;*/
.card__like-btn {
  background-image: url(../images/heart\ dark\ hover.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}
/*DOT REVISION  eliminate because are repeated width, height, border, background-color, and cursor & keep backgroung-image:  opacity:  and background-repeat: no-repeat*/
.card__like-btn:hover {
  background-image: url(../images/heart\ dark\ hover.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/redheart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../images/redheart.svg);
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
