.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px 0;

  line-height: 20px;
}
/*DOT REVISION ADDITION eliminate fiexed width: 104px;
  height: 16px; and add  padding: 10px 20px;
  margin: 0 auto;
  max-width: 100%; text-align: center; */
.footer__copyright {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  opacity: 0.7;
}
