/* padding:10px; ??   */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../spots-images/close\ icon.svg);
  background-color: transparent;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  padding: 0;
  opacity: 40%;
  border: none;
}

.modal__close-btn:hover {
  position: absolute;
  background-image: url(../spots-images/close\ icon\ hover.svg);
  background-color: transparent;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../spots-images/deletebutton\ white\ x\ black\ backgrd.svg);
}

.modal__close_type_preview:hoover {
  position: absolute;
  background-image: url(../spots-images/deletebutton\ gray\ x\ black\ backgrd.svg);
  background-color: transparent;
}

.modal__title {
  width: 169px;
  height: 32px;
  font-size: 32px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 500;
  line-height: 1;
  gap: 421px;
  margin: 0 0 32px;
}
/* display: flex;  flex-direction: column; ??*/
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.modal__label {
  height: 18px;
  font-size: 16px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  color: #212121b2;
  font-weight: 500;
  line-height: 110.00000000000001%;
  padding: 0 0 8px;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 630px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  height: 52px;
  padding: 18px 32px;
  margin: 32px 474px 0 0;
  background-color: #212121;
  border-radius: 8px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #fcf5e5;
}
/*New addition dic / 2/ 2025*/
.modal__image-container {
  position: relative;
}

/*New addition dic / 2/ 2025 ?????????????????  Corroborar si dejare o quitare  LO QUE ADICIONE:  max-width: 80vw;
  max-height: 80vh; width: 100%; object-fit:contain; display: block;*/
.modal__image {
  width: 100%;
  max-width: unset;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
/*New addition dic / 2/ 2025*/
.modal__caption {
  color: #ffffff;
  height: 18px;
  font-size: 16px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 110.00000000000001%;
  padding: 0 0 8px;
  margin: 16px 0px;
}
/*480px or 627px in the first @media screen??????????*/

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close {
    top: 22px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: 276px;
  }
}

@media screen and (max-width: 627px) {
  /*placed below @media query 480px to avoid being overwritten*/
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
